<div class="wiki-masthead">
  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {{>navbar_header}}

        <div id="navbar" class="navbar-collapse collapse">
          {{>navbar_wikiselection}}

          <div class="nav navbar-nav navbar-right">
            <a href="{{redirect_url}}"><span
              data-toggle="tooltip" data-placement="bottom"
              title="cancel edit and view page"
              class="btn btn-default navbar-btn"><span
                class="glyphicon glyphicon-remove"
                aria-hidden="true"></span></span></a>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="wiki-page-header">
    {{! title is either title metadata or first h1}}
    <h1 class="wiki-page-title">Create New Page</h1>

    <div style="margin-bottom: 2rem">
      <div class="input-group">
        <span class="input-group-addon" id="page-name-addon" data-toggle="tooltip" data-placement="bottom" title="Your page will be created in {{page_dir}}/"><span class="glyphicon glyphicon-file"></span> {{page_dir}}/</span>
        <input id="page-name" type="text" class="form-control" placeholder="{{page_name}}" aria-describedby="page-name-addon" value="" data-toggle="tooltip" data-placement="bottom" title="Enter here the page name.  You can include folder path separated with '/'">
      </div>
    </div>

    {{! optional page description from metadata}}
  </div>

  <div class="row">
    <div class="wiki-editor">
        {{>editor_view}}
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#page-name").focus();
  });
</script>
