<div class="wiki-masthead">
  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {{>navbar_header}}

        <div id="navbar" class="navbar-collapse collapse">
          {{>navbar_wikiselection}}

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <u>c</u>ancel</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="wiki-page-header">
    {{! title is either title metadata or first h1}}
    <h1 class="wiki-page-title">Create New Page</h1>

    <div style="margin-bottom: 2rem">
      <div class="input-group" data-toggle="tooltip" data-placement="bottom" title="Enter here the page name, path may be included">
        <span class="input-group-addon" id="page-name-addon"><span class="glyphicon glyphicon-file"></span> {{page_dir}}/</span>
        <input id="page-name" type="text" class="form-control" placeholder="{{page_name}}" aria-describedby="page-name-addon" value="">
      </div>
    </div>

    {{! optional page description from metadata}}
  </div>

  <div class="row">
    <div class="wiki-editor">
        {{>editor_view}}
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#page-name").focus();
  });
</script>

<!--
<div id="wiki-wrapper" class="create">
<div id="head">
  <h1>Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-sidebar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
var default_markup = '{{default_markup}}';
</script>
{{something}} -->
