<div class="wiki-masthead">
  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"><a href="{{base_url}}/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{base_url}}/view/{{wikicoll}}/"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{wikicoll}}</a></li>
            <li><a href="{{base_url}}/view/{{wikicoll}}/{{wikiname}}/"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {{wikiname}}</a></li>

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <u>c</u>ancel</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="wiki-page-header">
    {{! title is either title metadata or first h1}}
    <h1 class="wiki-page-title">Create New Page</h1>

    <div style="margin-bottom: 2rem">
      <div class="input-group">
        <span class="input-group-addon" id="page-name-addon"><span class="glyphicon glyphicon-file"></span> {{page_dir}}/</span>
        <input id="page-name" type="text" class="form-control" placeholder="{{page_name}}" aria-describedby="page-name-addon" value="">
      </div>
    </div>

    {{! optional page description from metadata}}
  </div>

  <div class="row">
    <div class="wiki-editor">
        {{>editor}}
    </div>
  </div>
</div>

<!--
<div id="wiki-wrapper" class="create">
<div id="head">
  <h1>Create New Page</h1>
</div>
<div id="wiki-content" class="create edit">
  <div class="has-sidebar">
    {{>editor}}
  </div>
</div>
</div>
<script type="text/javascript">
var default_markup = '{{default_markup}}';
</script>
{{something}} -->
