<style>
  #gollum-caves-tab-items div.tab-item {
    display: none;
  }
  #gollum-caves-tab-items div.tab-item.active {
    display: block;
  }
</style>

  <ul class="nav nav-tabs" id="gollum-caves-editor-tabs">
    <li role="presentation" class="active" data-target="gollum-caves-ckeditor" data-textarea="ckeditor-body"><a href="#">WYSIWYG</a></li>
    <li role="presentation" data-target="gollum-caves-side-by-side" data-textarea="code"><a href="#">Markdown Side-By-Side</a></li>
  </ul>

  <div id="gollum-caves-tab-items">

    <div id="gollum-caves-ckeditor" class="active tab-item form-group">
      <textarea id="ckeditor-body">{{content}}</textarea>
    </div>

    <div id="gollum-caves-side-by-side" class="tab-item form-group">
      <div id="in"><textarea id="codemirror-body">{{content}}</textarea></div>
      <div id="out"></div>
    </div>

  </div>

  {{#is_create_page}}
  <form name="gollum-editor" action="{{base_url}}/create" method="post">
  {{/is_create_page}}
  {{#is_edit_page}}
  <form id="gollum-editor" name="gollum-editor" action="{{base_url}}/edit/{{wikipath}}/{{escaped_name}}" method="post">
  {{#page}}
  <input type="hidden" name="version" id="gollum-editor-page-path" value="{{version}}">
  {{/page}}
  {{/is_edit_page}}

  <input type="hidden" name="page" id="gollum-editor-page-title" value="{{page_name}}">
  <input type="hidden" name="path" id="gollum-editor-page-path" value="{{page_dir}}">
  <input type="hidden" name="wikipath" id="gollum-editor-page-path" value="{{wikipath}}">

  <textarea id="gollum-editor-body" name="content" style="display: none">{{content}}</textarea>

  <div id="gollum-editor-edit-summary" class="form-group">

    {{#is_create_page}}
    <input type="text" class="form-control" aria-describedby="message-label" name="message" id="gollum-editor-message-field" placeholder="Created {{page_name}} ({{format}})" value="">
    {{/is_create_page}}

    {{#is_edit_page}}
    <input type="text" class="form-control" aria-describedby="message-label" name="message" id="gollum-editor-message-field" placeholder="Updated {{page_name}} ({{format}})" value="">
    {{/is_edit_page}}

  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-default" id="gollum-editor-submit" value="Save" title="Save current changes">
  </div>
</form>

<script>
  $('#gollum-caves-editor-tabs li').click(function(){
    var $active = $('#gollum-caves-editor-tabs li.active')
    $active.removeClass('active');
    $('#'+$active.attr('data-target')).removeClass('active');
    var $select   = $(this);
    $select.addClass('active');
    $('#'+$select.attr('data-textarea')).val($('#'+$active.attr('data-textarea')).val());
    $('#'+$select.attr('data-target')).addClass('active');

    var markdown = '';

    if ($active.attr('data-target') == 'gollum-caves-ckeditor') {
      markdown = wysiwygEditor.getData();
    } else {
      markdown = sourceEditor.getValue();
    }

    if ($select.attr('data-target') == 'gollum-caves-ckeditor') {
      wysiwygEditor.setData(markdown);
    } else {
      sourceEditor.setValue(markdown);
    }

  });
</script>

{{>editor_ck}}


  <script>
    // on submit copy the data from active textarea to
    $(function(){
      $("#gollum-editor").submit(function(){
        var $active = $('#gollum-caves-editor-tabs li.active');
        var markdown;
        if ($active.attr('data-target') == 'gollum-caves-ckeditor') {
          markdown = wysiwygEditor.getData();
        } else {
          markdown = sourceEditor.getValue();
        }
        $('#gollum-editor-body').val(markdown);
      });
    });
  </script>
