<script>
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      $(function(){
        CKEDITOR.on('dialogDefinition', function(ev){
          var dialogName = ev.data.name;
          var dialogDefinition = ev.data.definition;
          debugger

        });
        window.wysiwygEditor = CKEDITOR.replace( 'ckeditor-body' , {
          toolbarGroups: [
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
            { name: 'links', groups: [ 'links' ] },
            { name: 'insert', groups: [ 'insert' ] },
            { name: 'styles', groups: [ 'styles' ] },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'tools', groups: [ 'tools' ] },
            { name: 'others', groups: [ 'others' ] },
            { name: 'about', groups: [ 'about' ] }
          ],

          height: '60vh',

          removeButtons: 'Source,Save,NewPage,Preview,Print,CreateDiv,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,BidiLtr,BidiRtl,Language,Flash,Smiley,PageBreak,Iframe,Styles,Font,FontSize,TextColor,BGColor'


        });
      });
</script>
<style>
      #gollum-editor-body + div {
        display: block;
      }

      #cke_gollum-editor-body + div {
        display: none ;
      }
</style>
