<div class="wiki-masthead">
  <div class="container">

     <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top wiki-nav">
      <div class="container">
        {{>navbar_header}}

        <div id="navbar" class="navbar-collapse collapse">
          {{>navbar_wikiselection}}

          <div class="nav navbar-nav navbar-right">
            <a href="{{base_url}}/view/{{wikicoll}}/{{wikiname}}/{{filename}}"><span
              data-toggle="tooltip" data-placement="bottom"
              title="cancel edit and view page"
              class="btn btn-default navbar-btn"><span
                class="glyphicon glyphicon-remove"
                aria-hidden="true"></span></span></a>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="wiki-page-header">
    <h1 class="wiki-page-title">Editing {{page_name}}</h1>
  </div>

  <div class="row">
    <div class="wiki-editor">
        {{>editor_view}}
    </div>
  </div>
</div>
