<script src="{{base_url}}/javascript/markdown-editor/markdown-it.js"></script>
<script src="{{base_url}}/javascript/markdown-editor/markdown-it-footnote.js"></script>
<script src="{{base_url}}/javascript/markdown-editor/highlight.pack.js"></script>
<script src="{{base_url}}/javascript/markdown-editor/emojify.js"></script>
<script>
    // Because highlight.js is a bit awkward at times
    var languageOverrides = {
      js: 'javascript',
      html: 'xml'
    };

    emojify.setConfig({ img_dir: 'emoji' });

    var md = markdownit({
      html: true,
      highlight: function(code, lang){
        if(languageOverrides[lang]) lang = languageOverrides[lang];
        if(lang && hljs.getLanguage(lang)){
          try {
            return hljs.highlight(lang, code).value;
          }catch(e){}
        }
        return '';
      }
    })
    .use(markdownitFootnote);
</script>
